body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* barra */
#topbar {
    display: flex;
    gap: 20px;
    background: #111827;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
}

#topbar div {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
}

#topbar div:hover {
    background: #2563eb;
}

/* páginas */
.page {
    display: none;
    padding: 80px 20px;
}

#home {
    display: block;
}

/* centro */
.center {
    text-align: center;
    margin-top: 60px;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    justify-content: center;
    gap: 20px;
}

/* cards */
.card {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}

/* alerta */
.alert {
    background: rgba(255,0,0,0.15);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/* comentarios */
input {
    padding: 10px;
    width: 60%;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}