body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    background: #2563eb;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.form-box {
    margin: 50px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

footer {
    margin-top: 50px;
    padding: 10px;
}