body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    overflow: hidden;
}

/* Barra inferior */
#taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #111;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
}

/* Botón inicio */
#startBtn {
    background: #0078d7;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Menú inicio */
#startMenu {
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 220px;
    background: #222;
    border-radius: 10px;
    display: none;
    flex-direction: column;
}

#startMenu button {
    background: none;
    border: none;
    color: white;
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

#startMenu button:hover {
    background: #0078d7;
}

/* Ventanas */
.window {
    position: absolute;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: none;
    flex-direction: column;
}

.window-header {
    background: #0078d7;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.window-header span {
    cursor: pointer;
}

.window-content {
    padding: 10px;
    font-size: 14px;
}